---
---

@import 'fonts';
@import 'layouts/default';
@import 'includes/article';

main > section:first-child {
	text-align:center;
	copy {
		margin-bottom: auto;
		color: $color-title;
		h1 {
			font-size: 4em;
			@include font-handwriting;
		}
	}
	aside {
		width: 100%;
		margin-top: auto;
		flex-grow: 0;
		color: $color-background;
		text-transform: uppercase;
		h4 {
			padding-bottom: $size-unit-half;
		}
	}
}