---
---

@import 'sizes';
@import 'fonts';
@import 'layouts/default';
@import 'includes/article';

#hero-text {
	text-align:center;
	margin-bottom: auto;
	color: $color-title;
	copy {
		top: 50%;
		display: block;
		position: relative;
		transform: translateY(-48%);
	}
	h1 {
		font-size: 5em;
		@include font-logo;
	}
	.button {
		margin-top: 2em;
	}
}