---
title: Our Founders
layout: about
image: /img/gizmo-happy-face.jpg
css: /css/about.css
---

<div class="bios row">

	{% include bio.html picture='/img/anna.jpg' name='Anna Sweet' title='co-founder' content="Anna grew up on a small farm in Upstate New York. After a decade working on the west coast in the tech industry and volunteering at several small animal rescues, she knew her dream was to eventually open a rescue of her own. When a career change brought her and her husband Nate to the Bay Area, they decided to seize the opportunity of making their farm animal sanctuary a reality. She currently works full time in tech, but dedicates her evenings &amp; weekends to working with the animals of Sweet Farm and helping spread it's message." %}
    
    {% include bio.html picture='/img/nate.jpg' name='Nate Salpeter' title='co-founder' content="Nate Salpeter spends his days on-site managing the farm's day to day operations as well as introducing visitors on the farm to the Sweet Farm Animal Ambassadors. In addition to ensuring interesting educational experiences are had by guests, Nate works closely with the board of directors to ensure the mission of Sweet Farm Foundation is being achieved across platforms and programs. Part time, Nate works as a consultant in the nuclear industry - helping design the next generation of safe and clean nuclear reactors for a green future." %}

</div>