---
title: Home
layout: default
image: /img/sturgis-and-gizmo.jpg
css: /css/index.css
---

<section class="text-shadow">
	<copy>
		<h1>Sweet Farm</h1>
		<h4>An animal sanctuary in Half Moon Bay</h4>
	</copy>
	<aside>
		<h4>&ldquo;We provide sanctuary for both farm<br>and domestic animals in need&rdquo;</h4>
		<a class="link-light" href="/about">Learn more about our mission &raquo;</a>
	</aside>
</section>

<section>

	{% include article.html header='Blog Post Title' subheader='With a subtitle' 
		href='/news/todo' image='https://placekitten.com/g/1024/500' 
		alt_text='Check out our latest stories &raquo;' alt_href='/news' %}

</section>

<section>

	{% assign resident = (site.residents | sample) %}
	{% include article.html header=resident.title subheader=resident.description
		href=resident.path image=resident.image size='half'
		alt_text='Meet more animal ambassadors &raquo;' alt_href='/residents' %}

	{% assign getinvolved = (site.pages | where: "title" , "Get Involved" | first) %}
	{% include article.html header='Find ways to help' subheader='Become a sponsor today' 
		href='/get-involved' image=getinvolved.image size='half'
		alt_text='Learn about sponsorship options &raquo;' alt_href='/get-involved' %}

</section>