---
title: Home
layout: default
image: /img/chicken-with-pumpkin.jpg
css: /css/index.css
---

<div id="hero-text" class="hero-height">
	<copy>
		<h1>Sweet Farm</h1>
		<h4>An animal sanctuary in Half Moon Bay</h4>
		<a class="button" href="/about">Learn more about our mission &raquo;</a>
	</copy>
</div>

<section>

	{% assign post = (site.posts | first) %}
	{% include article.html header=post.title subheader=post.description
		href=post.url image=post.image
		alt_text='Check out our latest stories &raquo;' alt_href='/news' %}

</section>

<section>

	{% assign resident = (site.residents | where: "title" , "Higgins") | first %}
	{% assign resident_url = (resident.url | replace_first: 'index.html', '') %}
	{% include article.html header=resident.title subheader=resident.description
		href=resident_url image=resident.image size='half'
		alt_text='Meet more animal ambassadors &raquo;' alt_href='/residents' %}

	{% assign getinvolved = (site.pages | where: "title" , "Get Involved" | first) %}
	{% include article.html header='ways to help' subheader='Become a sponsor today' 
		href='/get-involved' image=getinvolved.image size='half'
		alt_text='Learn about sponsorship options &raquo;' alt_href='/get-involved' %}

</section>