<footer>
	<section>
		<div class="flex-fixed">
			<img id="logo" alt="sweet farm logo" src="/img/logo.png" />
			<address class="font-emphasis">{{ site.address_1 }},<br>{{ site.address_2 }}</address>
			<copy>A 501(c)3 Non-Profit<br>Tax ID 47-4576350<br>Copyright {{ 'now' | date: "%Y" }}</copy>
		</div>
		<a id="map" href="https://goo.gl/maps/GavpikdCgHw"></a>
		<aside class="flex-fixed">
			<a title="Subscribe to our feed" class="icon-feed" href="/feed.xml"></a>
			<a title="Like us on Facebook" class="icon-facebook" href="https://www.facebook.com/{{ site.facebook }}/"></a>
			<a title="Follow us on Twitter" class="icon-twitter" href="https://twitter.com/{{ site.twitter }}/"></a>
			<a title="Follow us on Insta" class="icon-instagram" href="https://www.instagram.com/{{ site.instagram }}/"></a>
		</aside>
	</section>
</footer>