$color-primary-dark: rgb(23, 35, 26);
$color-primary-light: rgb(254, 255, 255);
$color-secondary-dark: rgb(97, 117, 104);
$color-secondary-light: rgb(240, 233, 156);

$color-success: rgb(30, 61, 13);
$color-warning: rgb(239, 220, 11);
$color-failure: rgb(117, 30, 17);

$color-background: $color-primary-light;

$color-text-base: darken($color-primary-dark, 5%);