$color-green-charlston: rgba(38, 38, 51, 1);
$color-green-lincoln: rgba(54, 76, 0, 1);
$color-green-avocado: rgba(79, 104, 9, 1);
$color-blue-st-patricks: rgba(33, 59, 122, 1);
$color-green-old-moss: rgba(121, 132, 55, 1);
$color-white: white;

$color-title: $color-white;

$color-link-light: $color-white;
$color-link-light-hover: darken($color-white, 15%); 

$color-background: $color-white;
$color-overlay-light: fade-out($color-white, 0.2);

$color-header-link: $color-white;
$color-header-link-hover: darken($color-header-link, 10%);

$color-horizontal-rule: darken($color-white, 5%);

$color-text-base: $color-green-charlston;
$color-content-link: $color-green-lincoln;
$color-content-link-hover: $color-green-avocado;

$color-subheader-border: $color-text-base;
$color-subheader-link: fade-out($color-text-base, 0.1);
$color-subheader-link-hover: $color-white;
$color-subheader-background-color: $color-text-base;

$color-button-background: fade-out($color-white, 1);
$color-button-background-hover: fade-out($color-white, 0);
$color-button-text: $color-white;
$color-button-text-hover: $color-text-base;
$color-button-border: $color-button-text;
$color-button-border-hover: $color-button-background-hover;

$color-article-subject: $color-text-base;
$color-article-subject-hover: $color-text-base;