$color-green-charlston: rgba(38, 38, 51, 1);
$color-green-lincoln: rgba(54, 76, 0, 1);
$color-green-avocado: rgba(79, 104, 9, 1);
$color-blue-st-patricks: rgba(33, 59, 122, 1);
$color-green-old-moss: rgba(121, 132, 55, 1);
$color-white: white;

$color-title: $color-white;

$color-link-light: $color-white;
$color-link-light-hover: darken($color-white, 10%); 

$color-background: $color-white;
$color-overlay-light: fade-out($color-background, 0.2);

$color-header-link: $color-blue-st-patricks;
$color-header-link-hover: lighten($color-header-link, 10%);

$color-text-base: $color-green-charlston