$size-unit: 20px;
$size-unit-half: $size-unit / 2;
$size-unit-double: $size-unit * 2;

$size-font-base: 16px;
$size-line-height-base: 1.25;

$size-heading-ratio: $size-line-height-base;
$size-heading-6: $size-font-base;
$size-heading-5: $size-heading-6 * $size-heading-ratio;
$size-heading-4: $size-heading-5 * $size-heading-ratio;
$size-heading-3: $size-heading-4 * $size-heading-ratio;
$size-heading-2: $size-heading-3 * $size-heading-ratio;
$size-heading-1: $size-heading-2 * $size-heading-ratio;

$size-media-xxs: 320px;
$size-media-xs: 360px;
$size-media-s: 667px;
$size-media-m: 768px;
$size-media-lg: 960px;
$size-media-xl: 1024px;

$size-header-mobile-width: 220px;

$size-hero-height: 85vh;
$size-section-height: 65vh;
$size-letter-spacing-base: 2px;

$size-content-max-width: $size-media-xl;
$size-content-min-width: $size-media-xxs;