---
title: Our Board
layout: about
image: /img/gizmo-happy-face.jpg
css: /css/about.css
---

<div class="bios row">

	{% include bio.html picture='/img/connie.jpeg' name='Connie White' title='President' content="Connie is currently the Head of University Talent Acquisition and Strategy function for Genentech, a Fortune 500 biotechnology leader based in the Bay Area. This is Connie's second board position, having recently served a full term on the Rocket Dog Board of Directors. Connie enjoys spending her free time with her family, and being active in shelter dog rescue - especially for various pit bull breeds." %}
    
    {% include bio.html picture='/img/nate.jpg' name='Nate Salpeter' title='Secretary' content="Nate Salpeter spends his days on-site managing the farm's day to day operations as well as introducing visitors on the farm to the Sweet Farm Animal Ambassadors. In addition to ensuring interesting educational experiences are had by guests, Nate works closely with the board of directors to ensure the mission of Sweet Farm Foundation is being achieved across platforms and programs. Part time, Nate works as a consultant in the nuclear industry - helping design the next generation of safe and clean nuclear reactors for a green future." %}
    
    {% include bio.html picture='/img/catrina.png' name='Catrina North' title='Treasurer' content="A commercial winemaker by trade and long time animal lover, Catrina has significant experience running day to day operations among teams on farms of various sizes. She especially loves black cats, responsible farming and consumption, and sunshine. Catrina hopes Sweet Farm can help to educate folks on the small changes they can make in their diet to make significant impact." %}
    
    {% include bio.html picture='/img/azoff.jpg' name='Jonathan Azoff' title='Director of Technology' content="Jon Azoff is Director of Engineering for Omni, an on-demand storage start-up in San Francisco, CA. Jon's passion for technology has combined with his passion for animals and the outdoors, with his role on the Sweet Farm board. Jon spends too many hours tinkering with new technology to help further the cause of helping farm animals." %}
    
    {% include bio.html picture='/img/miranda.jpeg' name='Miranda Roberts' title='Director of Agriculture' content="Miranda is a vegetable, flower and herb grower, who is also learning to be a beekeeper. She is a graduate of the ecological horticulture apprenticeship at the Center for Agroecology at UC Santa Cruz. Following this program, she founded and operated Fat Cabbage Farm, a certified-ogranic mixed vegetable, strawberry and flower farm in Pescadero, CA. She closed this farm in 2012 to focus on motherhood, and now returns to horticulture as an advisor to Sweet Farm." %}

</div>