@import 'colors';
@import 'sizes';

article {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	background: none no-repeat center center/cover transparent;	
	text-transform: uppercase;
	.subject {
		color: $color-header-link;
		background-color: $color-overlay-light;
		margin-bottom: auto;
		&:hover {
			color: $color-header-link-hover;
			background-color: fade-in($color-overlay-light, 1);
		}
	}
	.subject, .alt {
		padding: $size-unit ($size-unit * 2);
		flex-grow: 0;		
	}
	.alt {
		margin-top: auto;
		text-align: right;
	}
}