@import 'sizes';
@import 'colors';

header {
	z-index: 1;
	font-size: 1.25em;
	position: relative;
	padding: $size-unit-half $size-unit;
	height: $size-header-height;
	background-color: $color-overlay-light;
	nav a {
		padding: $size-unit-half $size-unit;
		color: $color-header-link;
		text-transform: uppercase;
		&:hover, &:focus, &:active, &.active {
			color: $color-header-link-hover;
		}
	}
}