@import 'sizes';
@import 'colors';

header {
	z-index: 3;
	font-size: 0.8em;
	padding: $size-unit;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	nav a {
		line-height: 22px;
		text-align: center;
		padding: $size-unit-half $size-unit;
		color: $color-header-link;
		text-transform: uppercase;
		&:hover, &:focus, &:active, &.active {
			color: $color-header-link-hover;
		}
	}
	@media (max-width: $size-media-m) {
		right: 0;
		left: auto;
		width: $size-header-mobile-width;
		min-width: $size-header-mobile-width;
		height: 100vh;
		position: fixed;
		background-color: fade-out(black, 0.2);
		transform: translateX(100%);			
		nav {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			a {
				width: 100%;
				margin: $size-unit-half 0;
				&.button {
					margin-top: $size-unit;
				}
			}
		}
	}
}

#header-toggler {
	top: 0;
	right: 0;
	opacity: 0;
	z-index: 99;
	display: none;
	cursor: pointer;
	position: fixed;
	padding: $size-unit-half $size-unit;
	color: $color-header-link;	
	background-color: fade-out(black, 0.3);
	@media (max-width: $size-media-m) {
		display: inline-block;
		opacity: 1;
	}
	&:before {
		content: 'MENU';
	}
}

#header-toggle {
	width: 0;
	height: 0;
	z-index: 1;
	&:checked {
		& ~ #header-toggler {
			&:before { content: 'X'; }
			transform: translateX(-$size-header-mobile-width);
		}
		& ~ header {
			transform: translateX(0%);
		}
		& ~ main {
			transform: translateX(-$size-header-mobile-width - $size-unit);
		}
	}
}
