@import 'colors';
@import 'sizes';
@import 'includes/donation';

.membership {
	h5 {
		padding-bottom: 0;
	}
	li {
		margin-bottom: 1em;
	}
	form {
		text-align: left;
	}
	display: block;
	width: 100%;
	margin: $size-unit auto;
	padding-bottom: $size-unit-double;

}