@import 'colors';
@import 'sizes';
@import 'includes/donation';

.membership {
	h5 {
		padding-bottom: 0;
	}
	li {
		margin-bottom: 1em;
	}
	display: block;
	width: 100%;
	margin: $size-unit auto;
	padding-bottom: $size-unit-double;
	border-bottom: solid 2px $color-text-base;
	button {
		width: 95%;	
	}
}