@import 'fonts';
@import 'colors';
@import 'sizes';
@import 'reset';

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	color: $color-text-base;
	line-height: $size-line-height-base;
	letter-spacing: $size-letter-spacing-base;
	font-size: $size-font-base;	
	background: none center top/auto $size-hero-height no-repeat scroll $color-background;
}

body, header, footer {
	min-width: $size-content-min-width;
	width: 100%;
}

body, .font-base {
	@include font-properties;
}

em, b, strong, .font-emphasis {
	@include font-properties(500);
}

h1, h2, h3, h4, h5, h6, .font-header {	
	@include font-properties(800);
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h1 {
	font-size: $size-header-1;
}

h2 {
	font-size: $size-header-2;
}

h3 {
	font-size: $size-header-3;
}

h4 {
	font-size: $size-header-4;
}

h5 {
	font-size: $size-header-5;
}

h6 {
	font-size: $size-header-6;
}

p {
    line-height: 2;
}

section, main, .row {
	width: 100%;
	margin: 0 auto;
	max-width: $size-content-max-width;	
	display: flex;
}

main {
	flex-flow: column;
	& > section {
		min-height: $size-section-height;
		&:first-child {
			margin-top: -$size-header-height;
			height: $size-hero-height;
			padding: ($size-header-height + $size-unit) $size-unit-double $size-unit;
		}
	}
}

section, .row {
	flex-flow: row wrap;
	& > * {
		flex-grow: 1;
	}
}

.text-glow {
	text-shadow: 0 0 $size-unit white;
}

.text-shadow {	
	text-shadow: 0 0 $size-unit rgba(0,0,0,0.5);
}

.text-content {
	padding: $size-unit $size-unit-double $size-unit-double;
	h5, p, img {
		width: 100%;
		padding: $size-unit-half $size-unit;
	}
	h6 {
		padding: 0 $size-unit;	
	}
	h5 {
		padding-top: $size-unit-double;
	}
	a {
		color: $color-content-link;
		font-weight: 500;
		&:hover {
			color: $color-content-link-hover;
		}
	}

	&:after {
		content: '';
		display: block;
		border: solid 1px $color-horizonal-rule;
		margin: $size-unit-double $size-unit 0;
	}

}

.link-light {	
	font-size: larger;
	color: $color-link-light;
	&:hover, &:focus {
		color: $color-link-light-hover;
	}
}

.flex-fixed {
	flex-grow: 0;
}

.size-half {
	width: 50%;
}

@import 'includes/header';
@import 'includes/footer';