@import 'fonts';
@import 'colors';
@import 'sizes';
@import 'reset';

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	color: $color-text-base;
	line-height: $size-line-height-base;
	letter-spacing: $size-letter-spacing-base;
	font-size: $size-font-base;	
	background-color: $color-background;
}

.hero-height {
	height: $size-hero-height;
	min-height: 380px;
}

#hero {
	display: block;
	position: absolute;	
	background-color: black;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

figure {
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	position: absolute;
	background: none center center/cover no-repeat scroll;
}

body, header, footer {
	min-width: $size-content-min-width;
	width: 100%;
}

body, .font-base {
	@include font-sans;
}

h4, h5, h6, em, b, strong, .font-emphasis {
	@include font-sans(600);
}

h1, h2, h3, .font-header {	
	@include font-sans(900);
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h1 {
	font-size: $size-heading-1;
}

h2 {
	font-size: $size-heading-2;
}

h3 {
	font-size: $size-heading-3;
}

h4 {
	font-size: $size-heading-4;
}

h5 {
	font-size: $size-heading-5;
}

h6 {
	font-size: $size-heading-6;
}

p {
    line-height: 2;
}

ul {
	padding: $size-unit $size-unit-double;
}

.button, button, a {
	&:focus {
		outline: 0;
	}
}

.button, button {
	line-height: 1;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: $size-letter-spacing-base;	
	background-color: $color-button-background;
	border: solid 2px $color-button-border;
	border-radius: 25px;
	padding: 1em 2em;
	cursor: pointer;
	@include font-sans(600);
	color: $color-button-text;
	text-decoration: none !important;
	&:hover, &:focus {
		color: $color-button-text-hover;
		background-color: $color-button-background-hover;
		border-color: $color-button-border-hover;
	}
	&.button-dark {
		color: $color-text-base;
		background-color: fade-out($color-text-base, 1);
		border-color: $color-text-base;
		&:hover, &:focus {
			background-color: fade-out($color-text-base, 0);
			color: $color-white;
		}
	}
}

section, main, .row {
	width: 100%;
	margin: 0 auto;
	max-width: $size-content-max-width;	
	display: flex;
}

.iframe-holder {
	width: 100%;
	position: relative;
	padding-top: 59%;
	iframe {
	    display: block;
	    position: absolute;
	    padding: $size-unit;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	}
}

main {
	z-index: 2;
	position: relative;
	flex-flow: column;
	& > * {
		box-shadow: 0 0 $size-unit-double 0 rgba(0,0,0,0.2);
		&:first-child {
			box-shadow: 0 0 0 0 rgba(0,0,0,0);
		}
	}
	& > section {
		min-height: $size-section-height;
		&:first-child {			
			padding: $size-unit $size-unit-double;			
			copy {
				top: 50%;
				display: block;
				position: relative;
				transform: translateY(-50%);
				text-align: center;
			}
		}
	}
}

#subheader, .text-content {
	box-shadow: 0 0 0 0 fade-out(black, 1);
}

#subheader {
	display: flex;
	flex-flow: row;
	font-size: 0.7em;
	overflow: hidden;
	a {
		flex-grow: 1;
		text-transform: uppercase;
		text-align: center;
		color: $color-text-base;
		color: $color-subheader-link;
		padding: $size-unit-half $size-unit;
		&:hover, &:focus {
			color: $color-subheader-link-hover;
			background-color: $color-subheader-background-color;
		}
	}
}

section, .row {
	flex-flow: row wrap;
	& > * {
		flex-grow: 1;
	}
}

small {
	color: lighten($color-text-base, 10%);
}

.text-content {
	padding: $size-unit $size-unit-double $size-unit-double;
	small, h4, h5, p, img {
		width: 100%;
	}
	h4, h5, p, small {
		padding: $size-unit-half $size-unit;
	}
	h4, h6 {
		padding: 0 $size-unit;	
	}
	h4, h5 {
		padding-top: $size-unit-double;
		&:first-child {
			padding-top: $size-unit;
		}
	}

	a {
		font-weight: 600;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}

	&:after {
		content: '';
		display: block;
		border: solid 1px $color-horizontal-rule;
		margin: $size-unit-double $size-unit 0;
	}

}

.link-light {	
	font-size: larger;
	color: $color-link-light;
	&:hover, &:focus {
		color: $color-link-light-hover;
	}
}

.flex-fixed {
	flex-grow: 0;
}

.size-half {
	width: 50%;
}

@import 'includes/header';
@import 'includes/footer';