@import 'layouts/default';

main > section:first-child {
	color: $color-title;
	text-align: center;
	h1 {
		width: 100%;
		display: block;
		margin-top: auto;
	}
	h4 {
		margin-bottom: auto;
	}
	h1, h4 {
		flex-grow: 0;
		width: 100%;
	}
}